* text=auto eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.sh text eol=lf
*.md text eol=lf
*.csv text eol=lf
requirements.txt text eol=lf
data/*.pkl filter=lfs diff=lfs merge=lfs -text
weights/**/*.pth filter=lfs diff=lfs merge=lfs -text
weights/*.pth filter=lfs diff=lfs merge=lfs -text

